@using Newtonsoft.Json.Linq
@model TelerikAspNetCoreApp1.Models.Users
    @using TelerikAspNetCoreApp1.Models

@(
Html.Kendo().Template()
                    .AddHtml("<div class=\"k-edit-field\" style=\"400px\">")

                    .AddComponent(tbox => tbox
                        .TextBoxFor(model => model.UserID)
                        .Label(l => l.Content("ID:").Floating(true))
                        .HtmlAttributes(new { @readonly = "readonly" })
                    )
                    .AddComponent(tbox => tbox
                        .TextBoxFor(model => model.UserName)
                        .Label(l => l.Content("Full name:").Floating(true))
                    )
                    .AddComponent(tbox => tbox
                        .TextBoxFor(model => model.Password)
                        .Label(l => l.Content("Password:").Floating(true))
                    )
                    .AddComponent(tbox => tbox
    .TextBoxFor(model => model.Email)
    .Label(l => l.Content("Email:").Floating(true))
    
)
.AddHtml("<div id=\"checkemailupdate\"> </div>")
                    .AddComponent(tbox => tbox
                        .TextBoxFor(model => model.Tel)
                        .Label(l => l.Content("Tel:").Floating(true))
                    )
                    

        .AddHtml("<label for=\"Disabled\">Disabled: </label>")
        .AddHtml("<select id=\"Disabled\" name=\"Disabled\">")
            .AddHtml("<option value=\"0\">False</option>")
            .AddHtml("<option value=\"1\">True</option>")
        .AddHtml("</select>")
        .AddHtml("</div>")
        
)

