<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2024.2.514(AdditionalPackages)" value="C:\Users\phang\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2024.2.514.trial\" />
    <add key="Telerik UI for ASP.NET Core 2024.2.514(MainPackage)" value="C:\Users\phang\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2024.2.514.trial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>